        <style>
        
        h2 {
            color: rgb(0, 232, 15);
        }  
        
        #PARIS {
            background-color: yellow;
        }
		#LYON {
            background-color: yellow;
        }

		#BEJAIA {
            background-color: yellow;
        }
        
        p {
            color: rgb(191, 0, 255);
        }

		#AUTEUR {
            background-color: yellow;
			color: blue;
        }

		.VILLES{
            display: flex;
			flex-warp: warp;
		
        }

		.VILLES div {
			width: 9000px;
            border: solid 1px #000 ;
        }
        

       
        
        </style>